/* things */
.block-grid {
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 36px;
  justify-content: center;
  align-items: center;
}

.blocks {
  justify-self: center;
  width: 240px;
  min-height: 360px;
  max-height: 400px;
  display: grid;
  grid-template-rows: 240px 1fr;
  outline: auto;
  outline-color: black;
}

.block-image {
  width: 100%;
  height: 100%;
  outline: auto;

  outline-color: black;

  cursor: pointer;
}

.block-info {
  margin: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.block-info .tag {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.block-info .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
