.DB_Table {
  padding: 16px;
  width: 100%;
}

.DB_Table th {
  width: 240px;
  padding: 8px;
  text-align: left;
  font-size: 18px;
}

.DB_Table .title,
.DB_Table .submitBtn {
  text-align: center;
  font-size: 20px;
}

.DB_Table .submitBtn button {
  padding: 8px 16px;
  border: solid var(--solidLine-color) 1px;
  border-radius: 16x;
}

.DB_Table input,
.DB_Table select {
  width: 100%;
  height: 28px;
  padding: 0 16px;
}

.required {
  color: red;
}

/* popup */
.popup {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  background-color: var(--sec-bg-color);
  border: solid 1px var(--solidLine-color);
  border-radius: 4px;
}
.popup .failure {
  font-size: 20px;
  margin: 4px;
  color: red;
}
.popup .success {
  font-size: 20px;
  margin: 4px;
  color: green;
}
