/* sort, filter bar */
.thing-opt-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px 8px;
}

.thing-opt-bar .arrow {
  min-width: 10%;
}

.thing-opt-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1%;
  min-width: fit-content;
}

.thing-opt-item p {
  margin-right: 8px;
}

.thing-opt-item #orderCheckbox {
  margin-right: 4px;
}

.dropdown-label {
  text-decoration: underline;
  margin-right: 4px;
}

/* sort */
.sortDropdown {
  border: solid 1px #333;
  padding: 0 8px;
  height: 32px;

  cursor: pointer;
  background-color: #eee;
}

/* filter */
.dropdown-box {
  border: solid 1px #333;
  padding: 0 8px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  position: relative;
  background-color: #eee;
}

.dropdown-list {
  display: none;
  list-style-type: none;
  position: absolute;
  left: -0.8px;
  right: -0.8px;
  top: 30px;
  border: solid 1px #333;
  background-color: #eee;
}

.show {
  display: block;
}
