* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: #ddd;
}

.setting {
  text-align: right;
  position: absolute;
  right: 0;
  z-index: 10;
}

.button {
  cursor: pointer;
  text-align: center;
}

/* toggle switch */
/* The switch - the box around the slider */
.dark-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  top: 4px;
}

/* Hide default HTML checkbox */
.dark-switch input {
  display: none;
}
/* the slider */
.dark-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  background-color: rgb(51, 140, 230);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* the button */
.dark-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  top: 2px;
  border-radius: 50%;
  background-color: rgb(255, 203, 112);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .dark-slider {
  background-color: black;
}
input:checked + .dark-slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  background-color: #ccc;
}

/* general */
.header {
  display: flex;
  position: relative;
  min-height: 100px;
  height: 100px;

  background-color: #ddd;
}

footer {
  bottom: 0;
  width: 100%;
  background: grey;
  text-align: right;
  padding: 5px;
  font-size: 12px;
}
