/* color palette */
:root {
  --pri-bg-color: #ddd;
  --sec-bg-color: #eee;
  --text-color: #333;
  --solidLine-color: #444;
  --transparentLine-color: #3332;

  --negative-bg-color: #858585;
  --negative-text-color: #eee;
}
/* Dark theme color */
[data-bs-theme="dark"] {
  --pri-bg-color: #333;
  --sec-bg-color: #858585;
  --text-color: #eee;
  --solidLine-color: #0ff;
  --transparentLine-color: #0ef7;

  --negative-bg-color: #ddd;
  --negative-text-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: var(--text-color);
}

body {
  background-color: var(--pri-bg-color);
}

.setting {
  text-align: right;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}

.button {
  cursor: pointer;
  text-align: center;
}

/* toggle switch */
/* The switch - the box around the slider */
.dark-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  top: 4px;
}

/* Hide default HTML checkbox */
.dark-switch input {
  display: none;
}
/* the slider */
.dark-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  background-color: rgb(51, 140, 230);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* the button */
.dark-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  top: 2px;
  border-radius: 50%;
  background-color: rgb(255, 203, 112);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .dark-slider {
  background-color: black;
}
input:checked + .dark-slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  background-color: #ccc;
}

/* general */
.banner {
  display: flex;
  position: relative;
  min-height: 100px;
  height: 100px;

  background-color: var(--pri-bg-color);
}

footer {
  bottom: 0;
  width: 100%;
  background: var(--negative-bg-color);
  text-align: right;
  padding: 5px;
  font-size: 12px;
  color: var(--negative-text-color);
}

/* link */
a {
  color: var(--text-color);
}

/* sign in option */
.signin-smolbtn {
  width: fit-content;
  font-size: 6px;

  position: absolute;
  right: 0;
  bottom: 0;

  background-color: transparent;
}
